{% extends 'base.html'%}
{% load thumbnail %}
{% block title %}
{{ post.text|truncatechars:30 }}
{% endblock %}
{% block content %}
<div class="row">
  <aside class="col-12 col-md-3">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        Дата публикации: {{ post.pub_date|date:"d E Y" }} 
      </li>
      {% if post.group %}
        <li class="list-group-item">
          Группа: 
          <a href="{% url 'posts:group_list' post.group.slug %}">
            {{ group.title }}
          </a>
        </li>
      {% endif %}
        <li class="list-group-item">
          Автор: {{ post.author }}
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
        Всего постов автора:  <span >{{post_count}}</span>
      </li>
      <li class="list-group-item">
        <a href="{% url 'posts:profile' post.author.username %}">
          все посты пользователя
        </a>
      </li>
    </ul>
  </aside>
  <article class="col-12 col-md-9">
    {% thumbnail post.image "960x339" crop="center" upscale=True as im %}
    <img class="card-img my-2" src="{{ im.url }}">
    {% endthumbnail %}
    <p>
     {{post.text}}
    </p>
    {% include  'includes/post_comments.html' %}
    {%if request.user.username == post.author.username%}
    <a class="btn btn-default" href="{% url 'posts:post_edit' post.pk %}">
      Редактировать пост
    </a>
    {%endif%} 
  </article>
</div>
{% endblock %}